OIDC_ISSUER=
OIDC_CLIENT_ID=
OIDC_JWKS_URI=
MONGO_CONNECTION_STRING=
LISTEN_PORT=27018
LOG_FILE=/var/log/mongodb-wp-proxy/proxy.log

SCRIPT_DIR=/etc/mongodb-wp-proxy/ops
ES_HOST=
ES_PORT=9200
ES_INDEX=mongo-logs
